<html>

  <head>
     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/adventurewanderer/css/init_entry.css') }}" />
    
    <script type="text/javascript" src="{{ asset('bundles/adventurewanderer/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adventurewanderer/js/init_entry.js') }}"></script>
  </head>
  
  <body>
    <div id="pMain">
  
      <h1>Initialising - Entry</h1>
      
      <nav id="navMain">
        <ul>
          <li>Beings</li>
          <li>Items</li>
          <li>Locations</li>
          <li>Weapons</li>
        </ul>
      </nav>
      
      <div id="respMsgArea"></div>
      
      {{ include("AdventureWandererBundle:Init:frmLocations.html.twig") }}
      
      
      <!-- ***************************************************************** -->
      {{ include("AdventureWandererBundle:Init:frmItems.html.twig") }}
      
      <!-- ***************************************************************** -->
      
      {{ include("AdventureWandererBundle:Init:frmWeapons.html.twig") }}
      
      <!-- ***************************************************************** -->
      
      {{ include("AdventureWandererBundle:Init:frmBeings.html.twig") }}
      
      <div id="testArea"></div>

    </div> <!-- end of #pMain -->    
  </body>
  
</html>
